<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- user and root dir -->
		<add key="userName" value="tester"/>
		<add key="userPassword" value="wallen11"/>
		<add key="userRootDir" value="C:\Source\dotnet-sftpclient\RebexTinySftpServerBin\data"/>
		
		<!-- user public keys for public key authentication (optional) -->
		<add key="userPublicKeyDir" value="C:\Source\dotnet-sftpclient\RebexTinySftpServerBin\publicKeys"/>

		<!-- misc config -->
		<add key="showUserDetailsOnStartup" value="true"/>
		
		<!-- security -->
		<add key="rsaPrivateKeyFile" value="C:\Source\dotnet-sftpclient\dotnetsftp.IntegrationTests\TestFiles\publicKey.key"/>
		<add key="rsaPrivateKeyPassword" value="wallen11"/>
		<!-- port -->
		<add key="sshPort" value="22"/>

		<!-- start server when application is started? -->
		<add key="autoStart" value="false"/>
	</appSettings>
</configuration>
