<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  For integrating testing purposes, we need a running sftp-server.
  Replace the below values with values pertaining to that particular sftp-server.

  If no sftp-server is immediately available within the organisation, one option for local testing is the free 'tinysftpserver' from
  Rebex. Easy, local solution.
  -->
  <appSettings>
    <add key="sftpServerHostAddress" value="<your_server_host_name></your_server_host_name>" />
    <!--<add key="sftpServerHostAddress" value="127.0.0.1" />-->

    <add key="sftpServerPortNo" value="22" />
    <add key="userName" value="tester"></add>
    <add key="password" value="yourPW" />
    <add key="privateKeyPath" value="privateKeyOpenSSH.key" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>